<form method="post" action="/sign">
    <lable for="email">Username</label>
    <input type="email" id="email" name="email">
    <lable for="password">Password</label>
    <input type="password" id="password" name="password">
    <button type="submit" name="action" value="signin">Sign in</button>
    <button type="submit" name="action" value="signup">Sign up</button>
</form>
